.bodyImg {
  text-align: center;
}

.gridGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gridGroupProtocol {
}

.gridGroupIDP,
.gridGroupFramework {
  max-width: 720px;
  margin: 0 auto;
}

.gridGroupItem {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-font-color-base);
  font-weight: 900;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--ifm-color-primary);
  align-items: center;
  height: 56px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 26px;
  padding-right: 26px;
  margin-top: 12px;
  display: flex;
}

.callout {
  background: radial-gradient(
    48.79% 108.39% at 50.15% 134.9%,
    #77cfe9 0%,
    #3ebbdf 100%
  );
  padding: 3rem 1.5rem;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.calloutHeader {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0;
}

.logoImgWide {
  width: 72px;
  height: 32px;
  object-fit: contain;
}
