

.formControl {
  padding: 12px 15px;
  border: 1px solid var(--form-outline);
  border-radius: 3px;
  flex: 1 1 auto;
  box-shadow: 0 2px 6px var(--form-outline);
  transition: .2s all;
  font-size: 14px;
}
.formControl::placeholder {
  color: var(--form-outline-focus);
}
.formControl:focus {
  box-shadow: 0 1px 3px var(--form-outline);
  border-color: var(--form-outline-focus);
  outline: none;
}



.heroImage {
  text-align: center;
}
.heroImage img {
  width: 100%;
  height: auto;
  max-width: 950px;
}


.heroSections {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: center;
  margin-top: 80px;
}
.heroSection {
  background-color: var(--color-wh);
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 8px 16px;
  border-radius: 16px;
  row-gap: 4px;
  flex: 1;
  position: relative;
  color: var(--color-main);
  transition: .25s ease-out;
}
.heroSectionPicto {
  transition: .25s ease-out;
  width: 32px;
  height: auto;
}
.heroSection:hover {
  color: var(--color-main);
  box-shadow: var(--soft-shadow-branded-strong);
}
.heroSection:hover .heroSectionPicto {
  transform: scale(1.1);
}
.heroSection p {
  margin: 0;
  line-height: 1.1em;
  font-size: 1.1rem;
  font-weight: 700;
}
.heroSectionPlus {
  display: none;
}


@media (min-width: 800px) {
  .heroSections {
    flex-direction: row;
    column-gap: 8px;
  }
  .heroSectionPicto {
    width: 48px;
    margin-bottom: 8px;
  }
  .heroSection {
    flex-direction: column;
    padding: 20px;
    max-width: 150px;
  }
  .heroSectionPlus {
    width: 27px;
    height: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-wh);
    border-radius: 50%;
    border: 3px solid #FED9CF;
    position: absolute;
    right: -16px;
    top: calc(50% - 12px);
    z-index: 1;
  }
  .heroSectionPlus img {
    width: 14px;
    height: auto;
  }
}


.heroFeats {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 64px;
}
.heroFeat {
  flex: 1;
  max-width: 160px;
}
.heroFeat img {
  margin-bottom: 12px;
}
.heroFeat p {
  line-height: 1.3em;
}

@media (min-width: 800px) {
  .heroFeats {
    column-gap: 64px;
    margin-top: 110px;
  }
}


.heroIntegrations {
  margin-top: 64px;
}
.heroIntegrations p {
  margin: 0;
}
.heroIntegrationsLines {
  margin: 8px 0;
  width: 80%;
  height: auto;
}
.heroIntegrationRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 8px;
  grid-gap: 8px;
}
.heroIntegrationRow + .heroIntegrationRow {
  margin-top: 8px;
}
.heroIntegration {
  background-color: var(--color-wh);
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 150px;
  height: 64px;
  box-shadow: 0px 2px 6px rgba(248, 204, 241, 0.55);
}
.heroIntegration img {
  width: 80px;
  height: auto;
}
.heroIntegrationMore {
  grid-column: 1 / 4;
  max-width: inherit;
}


@media (min-width: 768px) {
  .heroIntegrationRow {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 782px;
    margin: 0 auto;
  }
  .heroIntegrationMore {
    grid-column: auto;
  }
  .heroIntegrationsLines {
    width: 100%;
    max-width: 630px;
  }
  .heroIntegration {
    box-shadow: none;
  }
}



.listFeats {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listFeats li {
  position: relative;
  padding-left: 64px;
}
.listFeats li + li {
  margin-top: 32px;
}
.listFeats h5 {
  font-size: 1rem;
  margin-bottom: 8px;
}
.listFeats p {
  margin: 0;
}
.listFeatsPicto {
  position: absolute;
  left: 0;
}


.featCards {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.featCard {
  background-color: var(--color-wh);
  border-radius: 16px;
  padding: 24px 32px;
  flex: 1;
  text-align: center;
  box-shadow: var(--soft-shadow-branded);
}
.featCard h5 {
  font-size: 1rem;
  margin: 16px 0;
}
.featCard p {
  margin-bottom: 0;
}


@media (min-width: 800px) {
  .featCards {
    flex-direction: row;
    column-gap: 12px;
    row-gap: 0;
  }
  .featCard {
    flex-direction: row;
    row-gap: 0;
    column-gap: 32px;
  }
}


.enterpriseSSO {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.devs {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 24px;
}
.devsL, .devsR {
  width: 100%;
}

.aportal {
  text-align: center;
}
.aportal img {
  vertical-align: top;
  width: 100%;
  max-width: 1120px;
}


.keycloak {
  text-align: center;
  margin-bottom: 64px;
}
.keycloak img {
  vertical-align: top;
}

@media (min-width: 992px) {
  .enterpriseSSO {
    flex-direction: row;
    column-gap: 80px;
    row-gap: 0;
  }
  .enterpriseSSOL {
    width: 64%;
  }
  .enterpriseSSOR {
    width: 36%;
  }

  .devs {
    flex-direction: row;
    column-gap: 80px;
    row-gap: 0;
  }
  .devsL, .devsR {
    width: 50%;
  }
}


.heart {
  margin: 0 8px;
}



.plans {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.plansSects {
  display: flex;
  column-gap: 160px;
  padding: 0 80px;
  margin-bottom: 24px;
}
.plansSect {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.plansSect p {
  display: block;
  margin: 0;
  font-size: .865rem;
}
.plansSect::before,
.plansSect::after {
  content: '';
  display: block;
  height: 1px;
  background-color: var(--color-main);
  flex: 1 1 auto;
}
.plansBlocks {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.plan {
  background-color: var(--color-wh);
  border-radius: 16px;
  box-shadow: var(--soft-shadow-branded);
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.planHead {
  text-align: center;
  padding: 32px 20px;
}
.planHead h3 {
  margin: 8px 0;
  font-size: 1.4rem;
  line-height: 1.2em;
}
.planHead p {
  margin: 0;
  line-height: 1.1em;
}
.planBadge {
  background-color: var(--color-planbadge);
  display: inline-flex;
  padding: 3px 8px;
  border-radius: 30px;
  color: var(--color-wh);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1em;
  white-space: nowrap;
}
.planFrom {
  font-size: .86em;
  color: var(--color-n1);
}
.planPrice {
  font-size: 1.2em;
}
.planBody {
  flex: 1 1 auto;
  padding: 20px;
  padding-top: 0;
}
.planFoot {
  padding: 20px;
  padding-top: 0;
  text-align: center;
}
.planFoot .btnPrimary {
  width: 100%;
}


@media (min-width: 992px) {
  .plansBlocks {
    flex-direction: row;
    row-gap: 0;
    column-gap: 20px;
  }
  .plansBlock {
    flex: 1;
    height: 100%;
  }
  .plans {
    column-gap: 20px;
  }
  .planHead h3 {
    margin: 16px 0;
    font-size: 1.75rem;
  }
}


.btnVideo {
  display: inline-flex;
  align-items: center;
  transition: .2s all;
  font-size: 14px;
}
.btnVideo img {
  margin-right: 8px;
  transition: .25s ease-out;
  flex: 0 0 auto;
}
.btnVideo:hover {
  color: var(--main);
  text-decoration: none;
}
.btnVideo:hover img {
  transform: scale(1.15);
}

@media (max-width: 991px) {
  .heroInner {
    display: flex;
    flex-direction: column-reverse;
  }
  .heroIntro, .heroCta  {
    margin-left: auto;
    margin-right: auto;
  }
  .heroMsg {
    text-align: center;
  }
  .heroCta {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 60px;
  }
  .heroProjectTagline {
    font-size: 2rem;
  }
  .heroCta .btnPrimary {
    font-size: 13px;
  }
}

@media (min-width: 769px) {
  .hero {
    padding: 48px;
  }
}

@media (min-width: 992px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .heroInner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 60px;
  }
  .heroMsg {
    flex: 1 1 auto;
  }
  .heroProjectTagline {
    font-size: 1.9rem;
  }
  .heroIntro {
    font-size: 1.3rem;
  }
  .heroImg {
    flex: 0 0 auto;
    min-width: 0;
    width: 50%;
  }
  .heroImg img {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .heroProjectTagline {
    font-size: 3.375rem;
  }
  .heroImg {
    width: 55%;
  }
}


.sect {
  padding: 50px 0;
  position: relative;
}
.sectHead {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.sectPreHeadline {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: .6rem;
}
.sectHeadline {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
  line-height: 1.2em;
}
.sectHeadline img {
  vertical-align: middle;
  margin: 0 5px;
  position: relative;
  top: -4px;
}
.sectHeadline .heart {
  width: 40px;
  height: auto;
}
.sectOsArrow {
  position: absolute;
  z-index: -1;
  left: 55%;
  top: 130px;
  display: none;
}
.sectOpenSource {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .sectPreHeadline {
    margin-bottom: 1rem;
  }
  .sectHeadline {
    max-width: inherit;
    font-size: 2.2rem;
  }
  .sectHeadline img {
    margin: 0 12px;
  }
  .sectHeadline .heart {
    width: 60px;
  }
  .sectOpenSource {
    padding-top: 40px;
  }
}

@media (min-width: 769px) {
  .sect {
    padding: 72px 0;
  }
}

@media (min-width: 992px) {
  .sectOsArrow {
    display: block;
  }
}

.featblocks {
  max-width: var(--inner-width-narrow);
  margin-left: auto;
  margin-right: auto;
}
.feature {
  margin-bottom: 50px;
}
.featureCopy > div {
  max-width: 280px;
  margin: 0 auto;
}
.featureCopy h3 {
  margin-bottom: 25px;
}
.featureCopy p {
  font-size: 1rem;
  line-height: 1.5em;
}
.featureImg {
  text-align: center;
}
.featureImg img {
  max-width: 280px;
}


@media (max-width: 767px) {
  .featureCopy {
    text-align: center;
  }
  .featureCopy h3 {
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .heroImg {
    margin-left: -12px;
    margin-right: -12px;
  }
}

@media (min-width: 768px) {
  .feature {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .feature > * {
    flex: 1;
  }
  .feature:nth-child(even) {
    flex-direction: row-reverse;
  }
  .featureCopy h3 {
    font-size: 1.4rem;
  }
  .featureCopy p {
    font-size: 1.2rem;
  }
  .featureImg img {
    width: 100%;
    max-width: 550px;
  }
  .featureCopy > div {
    max-width: 440px;
    padding: 0 40px;
  }
}

.feat {
  margin: 40px 0;
}
.feat img {
  width: 200px;
  height: auto;
}
.feat h3 {
  font-size: 1.5rem;
  margin: 20px 0;
}
.feat p {
  font-size: 1rem;
  line-height: 1.7em;
}
.featInner {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .feats {
    display: flex;
    gap: 40px;
    max-width: 88%;
    margin: 0 auto;
  }
  .feat {
    flex: 1;
  }
}



.badgeSuccess {
  background-color: rgba(24, 204, 109, .15);
  color: var(--success);
  padding: 5px 8px;
  font-size: 14px;
  display: inline-block;
  line-height: 1em;
  border-radius: 3px;
  margin-bottom: 8px;
}
.checklist {
  list-style: none;
  padding-left: 0;
  text-align: left;
  font-size: .875rem;
}
.checklist > li {
  position: relative;
  padding-left: 26px;
}
.checklist > li + li {
  margin-top: .3rem;
}
.checklistIcon {
  position: absolute;
  left: 0;
  width: 10px;
  height: auto;
  margin-top: 8px;
}

@media (min-width: 800px) {
  .checklist {
    font-size: 1rem;
  }
}

.access {
  padding: 24px;
  text-align: center;
}


.featureImage {
  max-width: 60%;
  max-height: 128px;
  margin: 0 auto;
}
.announcement {
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
}
.announcementDark {
  background-color: #20232a;
  color: var(--color-wh);
}
.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}




/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

/* Dark Theme TouchUp */

[data-theme='dark'] .hero {
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
[data-theme='dark'] .pricing {
  background-color: rgba(255,255,255,.1);
}
[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5,
[data-theme='dark'] p {
  color: #eee;
}

[data-theme='dark'] .planInner h5,
[data-theme='dark'] .planInner p {
  color: var(--main);
}

