/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* 
 You can override the default Infima variables here.
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
*/
:root {
  --ifm-color-primary: #3fa1e3;
  --ifm-color-primary-dark: #2695df;
  --ifm-color-primary-darker: #1f8dd7;
  --ifm-color-primary-darkest: #1a74b1;
  --ifm-color-primary-light: #58ade7;
  --ifm-color-primary-lighter: #65b4e9;
  --ifm-color-primary-lightest: #ebf5fc;
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: rgba(255, 255, 255, 0.9);
  --ifm-navbar-link-color: #3c474e;
  --main: #3c474e;
  --success: #18cc6d;
  --form-outline: #e1e6ea;
  --form-outline-focus: #bcc5cb;
  --inner-width: 1400px;
  --inner-width-narrow: 1040px;
  --ifm-container-width: 1400px;
  --openapi-code-dim-light: #aaaaa1 !important;
}

html {
  scroll-behavior: smooth;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  backdrop-filter: blur(3px);
}
.navbar .navbar__inner {
  width: var(--inner-width);
  margin: 0 auto;
}
.navbar .navbar__logo {
  margin-right: 0;
}
.text-center {
  text-align: center;
}

@media (max-width: 996px) {
  .navbar .navbar__items {
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
  }
  .navbar .navbar__toggle {
    position: absolute;
    left: 0;
    padding: 10px;
    margin-top: 2px;
  }
  .navbar .navbar__brand {
    margin-top: 3px;
  }
  .navbar .navbar__logo {
    width: 100px;
  }
  .navbar .navbar-sidebar {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navbar .navbar-sidebar__brand {
    justify-content: center;
    box-shadow: none;
    flex: 0 0 auto;
  }
  .navbar .navbar-sidebar__items {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu {
    width: 100%;
  }
  .menu .menu__link {
    justify-content: center;
    font-size: 1.15rem;
    padding: 18px 12px;
  }
  .navbar .navbar-sidebar__backdrop {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
  }
  .navbar.navbar-sidebar--show .navbar-sidebar__backdrop {
    opacity: 1;
    visibility: visible;
  }
}

.footer {
  background-color: transparent;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(60, 71, 78, 0.5);
}
.footer .footer__title {
  color: var(--main);
}
.footer .footer__link-item {
  font-size: 0.9rem;
}

/* Carousel */
.carousel .slide {
  background-color: transparent !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent !important;
}
.carousel.carousel-slider .control-arrow::before {
  border-right-color: #444 !important;
  border-left-color: #444 !important;
}

@media (min-width: 768px) {
  .footer,
  .footer .text--center {
    text-align: left;
  }
  .footer .footer__title {
    margin-bottom: 0;
  }
  .footer .footer__col {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer__items {
    display: flex;
  }
  .footer .footer__item {
    margin-left: 20px;
  }
}

/* Dark Theme Touchup */

[data-theme="dark"] .footer,
[data-theme="dark"] .footer .footer__title,
[data-theme="dark"] .footer .text--center {
  color: #999;
}

/* Text Rotator Cursor */

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  font-weight: 400;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
