.trustUsReasonsCol {
  border-left: 1px solid #c2cad0;
}
.trustUsReasonsColNumber {
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #3fa1e3;
  margin-bottom: 2.5rem;
}

.callout {
  background: radial-gradient(
    48.79% 108.39% at 50.15% 134.9%,
    #77cfe9 0%,
    #3ebbdf 100%
  );
  padding: 3rem 1.5rem;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.calloutHeader {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0;
}

.bgImg {
  width: 100vw;
  left: 0;
  top: -50%;
  position: absolute;
  z-index: -1;
}
.bgImg img {
  width: 100%;
  height: auto;
}
